html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}


footer {
    position: absolute;
    padding: 30px;
    width: 100%;
    bottom: 0px;
    height: 13%;
    background-color: gray;
    box-sizing: border-box;
    position: fixed;
}

.heading {
    text-align: center;
    font-weight: normal;
}

.content {
    box-sizing: border-box;
    width: 100%;
    max-height: 75%;
    padding-left: 150px;
    padding-right: 150px;
}

/*  */
#blogArea {
    width: 65%;
    height: 70%;
    float: left;
}

.blog {
    margin: 20px;
    max-width: 100%;
    max-height: 50%;
    box-sizing: border-box;
    box-shadow: darkgray 2px 2px 2px 2px;
}

.blog-img {
    max-width: 100%;
    max-height: 30%;
    display: inline;

}

.blog-content {
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
}

/*  */

.detailsArea {
    float: right;
    width: 35%;
    box-sizing: border-box;
    display: inline;
}

/* Post */
.post {
    margin: 20px;
    max-width: 100%;
    max-height: 33%;
    box-sizing: border-box;
    box-shadow: darkgray 2px 2px 2px 2px;

}

.post-row {

    width: 100%;
    height: 20%;
    background-color: white;
    border-bottom: 1px grey solid;
    padding: 5px;
    box-sizing: border-box;

}

.post-img {
    width: 20%;
    display: inline;
}

.post-onwer {
    display: inline;
}

.post-detail {
    display: inline;
}





/*  */

a {

    padding: 10px;
    background-color: rgb(88, 88, 88);
    color: gray;
    box-sizing: border-box;
    display: inline-block;
}

a.active {
    background-color: black;
    color: whitesmoke;
}
/* Tags */
.tagDetail{
    box-sizing:border-box ;
    background-color: white;
    padding:20px;
}
.activeTag{
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-size: small;
    block-size: 8px;
}
.simpleTag{
    box-sizing: border-box;
    block-size: 3px;
    text-align: center;
    font-size: xx-small;
    background-color:whitesmoke ;
}




@media only screen and (max-width:700px) {
    #blogArea {
        clear: both;
        width: 100%;
    }

    .content {
        padding: 10px;
    }

    .detailsArea {
        clear: both;
        width: 100%;
    }

}

@media only screen and (max-width:800px) {


    .content {
        padding: 10px;
    }



}